body {
	font:14px 'Helvetica Neue',Arial,'Liberation Sans',FreeSans,sans-serif;
	color:#424242;
	margin-top:70px;
	margin-left:130px;
}

div#mainheader {
}

div#welcome {
	font:35px 'Helvetica Neue',Arial,'Liberation Sans',FreeSans,sans-serif;
	color:grey;
	font-weight:bold;
}

div#description {
	color:grey;
	width:600px;
}

div#logo {

}

div#main {
	margin-top:30px;
}

table {
	
}

td {
	vertical-align:top;
}

.column {
	font:14px 'Helvetica Neue',Arial,'Liberation Sans',FreeSans,sans-serif;
	width:300px;
}

div#message {
	font:18px "Palatino Linotype", "Book Antiqua", Palatino, serif;
	margin-top:25px;
	margin-bottom:10px;
  padding: 8px;
  padding-right: 45px;
  line-height: 35px;
	background-color:#FFFFCC;
}

div#decode {
	margin-top:30px;
}

input,select {
	width:250px;
	padding-right:0px;
  margin-bottom: 5px;
}
select#sex {
  padding-right: 0px;
  width: 85px;
}

div#col1 {
  border: 1px dotted #aaa;
  margin: 0 20px 20px 0px;
  padding: 10px;
  width: 250px;
}
div#col2,div#col3 {
  padding-top: 10px;
}

div.heading {
  color: #666;
	font:15px 'Helvetica Neue',Arial,'Liberation Sans',FreeSans,sans-serif;
  margin-bottom: 8px;
}

textarea {
	width:250px;
}

.form-field {
	margin-top:30px;
	margin-left:0px;
	margin-right:700px;
	margin-bottom:20px;
}

.form-field label {
	float:left;
	width:150px;
}
.form-field label.narrow {
  width: auto;
  margin-right: 8px;
}

.seen {
	display:none;
}

.hint {
	font-size:11px;
	font-color:lightgrey;
	font-style:italic;
	text-align:right;
	margin-right:50px;
}

.header {
	margin-left:50px;
	width:750px;
}

.timestamp {
	font-size:12px;
	font-color:lightgrey;
	font-style:italic;
	text-align:left;
	float:left;
}

.spam {
	font-size:12px;
	text-align:right;
}

.skip {
	font-size:12px;
	float:right;
}

.skip A {
	color:#A8A8A8 ;
}

label {
	width:100px;
}

u {
}


A {color:#FF6666;}
A:link {text-decoration: none}
A:visited {text-decoration: none}
A:active {text-decoration: none}
A:hover {text-decoration: none; color:#808080;}

#message span {
  padding: 3px;
  border: 1px dotted #aaa;
	background-color:#FFFFE0;
  cursor: move;
}
#message span.used {
  color: #998;
}
#message span:hover {
  color: #888;
}
input.selected, textarea.selected {
  border: 3px solid #cc6;
}

#state_container, #state_container input {
  float: left;
  width: 140px;
  margin-right: 20px;
}
#postal_code_container, #postal_code_container input {
  float: left;
  width: 90px;
}

#sex_container, #sex_container select {
  float: left;
  width: 140px;
  margin-right: 20px;
}
#age_container, #age_container input {
  float: left;
  width: 90px;
}
div#found {
  width: 250px;
}
div#found * {
  width: 250px;
}
div#found label {
  display: inline;
}
input#submit {
  margin-left: 10px;
  margin-bottom: 10px;
}
div#bottom_logos a {
  margin-right: 15px;
}
