body {
	font:14px 'Helvetica Neue',Arial,'Liberation Sans',FreeSans,sans-serif;
	color:#424242;
	margin-top:70px;
	margin-left:130px;
}

div#mainheader {
}

div#welcome {
	font:35px 'Helvetica Neue',Arial,'Liberation Sans',FreeSans,sans-serif;
	color:grey;
	font-weight:bold;
}

div#description {
	color:grey;
	width:600px;
}

div#main {
	margin-top:30px;
}

table {
	
}

td {
	vertical-align:top;
}

.column {
	font:14px 'Helvetica Neue',Arial,'Liberation Sans',FreeSans,sans-serif;
	width:300px;
}

div#message {
	font:18px "Palatino Linotype", "Book Antiqua", Palatino, serif;
	margin-top:25px;
	margin-bottom:10px;
	background-color:#FFFFCC;
}

div#decode {
	margin-top:30px;
}

input {
	width:250px;
	padding-right:80px;
}

textarea {
	width:250px;
}

.form-field {
	margin-top:7px;
	margin-left:50px;
	margin-right:700px;
	margin-bottom:20px;
}

.form-field label {
	float:left;
	width:150px;
}

.seen {
	display:none;
}

.hint {
	font-size:11px;
	font-color:lightgrey;
	font-style:italic;
	text-align:right;
	margin-right:50px;
}

.header {
	margin-left:50px;
	width:600px;
}

.timestamp {
	font-size:12px;
	font-color:lightgrey;
	font-style:italic;
	text-align:left;
	float:left;
}

.spam {
	font-size:12px;
	text-align:right;
}

.skip {
	font-size:12px;
	float:right;
}

.skip A {
	color:#A8A8A8 ;
}

label {
	width:100px;
}

u {
}


A {color:#FF6666;}
A:link {text-decoration: none}
A:visited {text-decoration: none}
A:active {text-decoration: none}
A:hover {text-decoration: none; color:#808080;}

#message span {
  padding: 3px;
  border: 1px dotted #aaa;
  cursor: move;
}
#message span.used {
  color: #aa5;
}
#message span:hover {
  color: #888;
}
input.selected {
  border: 3px solid #cc6;
}
